Dear <<name>>,<br><br>
Your process for registration for <b>GES 2015</b> has been initiated.<br>Please verify your email id by opening this url <a href="http://ges.ecell-iitkgp.org/register/v.php?e=<<email>>&c=<<capcha>>">http://ges.ecell-iitkgp.org/register/v.php?e=<<email>>&c=<<capcha>></a>. <br><br>Regards,<br>Team Entrepreneurship Cell